body {
    font-family: sans-serif;
    text-align: center;

        --cor-de-fundo: rgb(0, 0, 0);
        --brootranco: #69738800;
        --botao-ativo: #fa8e02;
        --botao-inativo: rgba(217, 255, 0, 0.959);
        --texto-fundo: rgb(255, 0, 0);
    
    }


h1 {
    margin-top: 20px;
    color:chartreuse
}

input[type="number"] {
    margin-top: 10px;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

#resposta {
    margin-top: 10px;
    font-weight: bold;
}
body{background-color: red;}
